@import "tailwindcss";
@tailwind utilities;

body {
  @apply bg-[url("./assets/image4.jpg")];
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
